{deps, [
    {hera, {git , "https://github.com/sebkm/hera" , {branch , "main"}}},
    {hera_synchronization, {git, "https://github.com/sebkm/hera_synchronization", {branch, "master"}}},
    grisp,
    {grisp_emulation, {git, "https://github.com/grisp/grisp_emulation", {ref, "881c2fc"}}},
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "25.2.3"}
    ]},

    {deploy , [
        {pre_script, "rm -rf /media/sebastien/GRISP/*"},
        {destination, "/media/sebastien/GRISP"},
        {post_script, "umount /media/sebastien/GRISP"}
    ]}
]}.

{shell, [{apps, [
    {grisp_emulation, {git, "https://github.com/grisp/grisp_emulation", {ref, "881c2fc"}}},
    grisp ,
    {epmd , none} ,
    sensor_fusion,
    hera ,
    runtime_tools
]}]}.

{relx, [
    {release, {sensor_fusion, "1.0.0"}, [
        grisp ,
        {epmd , none} ,
        sensor_fusion,
        hera ,
        runtime_tools ,
        hera_synchronization
    ]} ,
    {dev_mode , false} ,
    {generate_start_script , true} ,
    {extended_start_script , true} ,
    {sys_config , "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.

{ profiles , [
    {test, [
        {deps, [
            {grisp_emulation, {git, "https://github.com/grisp/grisp_emulation", {ref, "881c2fc"}}}]
        },
        {shell, [
            {apps, [grisp_emulation, sensor_fusion]},
            {config, "config/test.config"}
        ]}
    ]},
    {computer , [
        {deps , [
             {grisp_emulation, {git, "https://github.com/grisp/grisp_emulation", {ref, "881c2fc"}}}
        ]} ,
        {dev_mode , true} ,
        {erl_opts , [
            debug_info
        ]} ,
        {relx , [
            {sys_config_src , "./config/computer.config.src"} ,
            {vm_args, "./config/vm.args"},
            {release , {sensor_fusion , "1.0.0"} , [
                grisp ,
                {grisp_emulation, {git, "https://github.com/grisp/grisp_emulation", {ref, "881c2fc"}}},
                {epmd , none} ,
                sensor_fusion,
                hera ,
                runtime_tools ,
                hera_synchronization
            ]}
        ]}
    ]}
]}.

%% == Dialyzer ==

{ dialyzer , [
    {warnings , [underspecs
        ,        no_return
        ,        unmatched_returns
        ,        error_handling]} ,
    {plt_prefix , "sensor_fusion"} ,
    {plt_apps , top_level_deps} ,
    {plt_extra_apps , []}
]}.